
.recette-acceuil{

max-width: 1200px;
height: auto;
line-height: 3rem;
margin: 50px;
font-size: 1.3rem;

p  {
     line-height: 3rem;


}
h3{
    color: $color-5 ;
    line-height: 3rem;
    font-size: 1.5rem;
}
img{
    width: 100%;

    
}


}
